/*****************************************/
/*            Vanilla Elements           */
/*****************************************/

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Josefin Sans", sans-serif;
    overflow-x: hidden;
    width: 100%;
    font-size:18px
}

h2,h3,h4,h5,h6 {
    font-family: "Josefin Sans", sans-serif;
    color: white;
}

h1 {
    font-family: "Pacifico", cursive;
    color: white;
    filter: drop-shadow(5px 5px 10px rgb(0 0 0 / .5));
    /*text-shadow:
       2px 2px 0 #fede65,
     -1px -1px 0 #fede65,  
      1px -1px 0 #fede65,
      -1px 1px 0 #fede65,
      2px 9px 0 #000; */
}

div:has(+footer) h1 {
    font-family: "Times", serif;
}

img {
    max-width: 100%;
    max-height: auto;
}

.w3-bar, button {
    font-family: "Josefin Sans", sans-serif;
    color: #fede65;
}

.fa-anchor,.fa-coffee {
    font-size:200px;
}

a {
    text-decoration: none;

}

.w3-content p a {
    color: #fede65;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

a.no-hover:hover {
    text-decoration: none;
}

#mobileNav a {
    border-bottom: gray 1px solid;
}

footer {
    background-image: linear-gradient(#5183e2, #456ab1);
    border-top: 8px #fede65 solid;
    font-size: 14px;
}

header {
    background: rgb(254,222,101);
    background: radial-gradient(circle, rgba(254,222,101,1) 3%, rgba(223,190,68,1) 86%, rgba(168,112,34,1) 100%);

    background-image: url(../images/Vanilla-wide.jpg); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    transition: background-position 1s;
}

iframe {
    width: 100%;
    height: 450px;
    border:0;
    box-shadow: 12px 12px 0px rgba(0, 0, 0, .8);
    margin-top: 16px;
    margin-bottom: 32px;

}

/*****************************************/
/*            Brand Colors               */
/*****************************************/

.oro-brand-blue, .oro-hover-brand-blue:hover {
    color:#fff!important;
    background-color:#5183e2!important
}

.oro-brand-gold, .oro-hover-brand-gold:hover {
    color:#000!important;
    background-color:#fede65!important
}

.oro-text-brand-blue,.oro-hover-text-brand-blue:hover{
    color:#5183e2!important
}

.oro-light-blue, .oro-hover-light-blue:hover {
    color:#20345a!important;
    background-color:#85b3ea!important
}

.oro-dark-blue, .oro-hover-dark-blue:hover {
    color:#fede65!important;
    background-color:#456ab1!important
}

.oro-text-brand-gold,.oro-hover-text-brand-gold:hover{
    color:#fede65!important
}

.w3-gold,.w3-hover-gold:hover{
    color:#fff!important;background-color:#efc700!important;    
}

/*****************************************/
/*                                       */
/*****************************************/

.svg-shape {
    -webkit-clip-path: url(#my-shape);
    clip-path: url(#my-shape);
  }

.menu-card {
    margin: 5px;
    background-color: rgba(231, 231, 231, 1);
    color:#20345a;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    text-align:center;
}

.raised-box {
    padding: 64px;
    background-color: rgba(231, 231, 231, 0.8);
    box-shadow: 12px 12px 0 0 rgb(0 0 0 / .8);
    transition: transform .5s, box-shadow .5s, color .5s;
    color:#20345a;

}


.raised-box:hover {
    transform: translate(-6px, -6px);
    box-shadow: 18px 18px 0 0 rgb(0 0 0 / .7);

}

.pop-button {
    transition: transform .5s, box-shadow .5s, color .5s;
}

.pop-button:hover {
    transform: translate(-6px, -6px);
    box-shadow: 6px 6px 0 0 rgb(0 0 0 / .5);
}

.pop-button:active {
    transition: transform 0ms linear, box-shadow 0ms linear;
    transform: translate(-3px, -3px);
    box-shadow: 3px 3px 0 0 rgb(0 0 0 / 1);

}

.faq-block i {
    transition: transform .4s;
}

.faq-block button+div {
    background-color: white;
    color: #20345a;
    border-bottom: #20345a 1px solid;
    /*
    border-right: #20345a 1px solid;
    border-left: #20345a 1px solid;
    */

}

.faq-block button {
    border:none;
    display:inline-block;
    padding:12px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:normal;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
}

.faq-block button:hover, .faq-block button:has(+ .w3-show) {
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2); 
    
}

.faq-block button:has(+ .w3-show) i {
    transform: rotate(180deg)!important;
    -webkit-transform: rotate(180deg)!important;
}


.after-wave-padding {
    padding-top: 90px; 
    padding-bottom: 64px;
}

.wave {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 90px;

    filter: drop-shadow(0px 0px 10px rgb(0 0 0 / .5));
}

.wave .shape-fill-dark-blue {
    fill: #456AB1;
}    
.wave .shape-fill-light-blue {
    fill: #85b3ea;
}    

.flipped {
    transform: rotate(180deg);
    bottom: 0;
    left: 0;
    position: relative;
}

.flippedY {transform: rotateY(180deg);}



.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.selected {
    /*text-decoration: underline;*/
    background-color: #456ab1;
}

.top-bar {
    width: 100%;
    text-align: right;
    padding-right: 5%;
    background-image: linear-gradient(#5183e2, #456ab1);
    border-bottom: 8px #fede65 solid;
}

.top-bar a:hover {
    color:#fff!important;background-color:#efc700!important;    
}


.oro-bar{width:100%;overflow:hidden}
.w3-center .oro-bar{display:inline-block;width:auto}
.oro-bar .w3-bar-item{padding:8px 16px;width:auto;border:none;outline:0;}
.oro-bar .w3-dropdown-hover,.oro-bar .w3-dropdown-click{position:static;float:left}
.oro-bar .w3-button{white-space:normal}

.oro-top {
    position:fixed;
    z-index:1;
    top: 0;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
}

.shadowed {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fly-up {
    /*animation: fly-up 1s ease-in;*/
    transform: translate(0,0)!important;
    transition-property: transform;
    transition-timing-function: ease; transition-duration: 0.6s; transition-delay: 0s;

}

.pre-fly-up {
    transform: translate(0%, 30%);
}


.fly-up:not([data-override-initial-global-animation]) {
    opacity: 1;
}

.topnav-centered {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.background-video {
    width: 100%;
    height: 659px;
    object-fit:cover;


    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    /*filter:saturate(125%);*/
    animation: kenburns 8s linear, desaturate 8s linear; 
}

@keyframes grayfade{0%{filter: grayscale(50%)}25%{filter: grayscale(0%);}75%{filter: grayscale(0%)}100%{filter: grayscale(50%)}}
@keyframes desaturate{0%{filter: saturate(100%)}25%{filter: saturate(100%);}75%{filter: saturate(100%)}100%{filter: saturate(75%)}}
@keyframes kenburns{100%{transform: scale(1.05, 1.05) translate(-.5%, -.5%);}}

.contact-info {
    text-align: left;
}


/* For devices larger than 600px: */
header.home-banner {
    background: none;
    background-color: rgba(200, 200, 255, .2);
}

header.home-banner div {
    float: right;
    background-repeat: no-repeat; background-position: center; background-size: 100% auto;
    width: 500px; height: 400px;
}

/************************************/  
/*  For devices 600px and smaller:  */
/************************************/

@media only screen and (max-width: 600px) {
    header.home-banner {
        background-image: url('../images/truck-wrap-vertical.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

        padding-right: 16px;
    }

    .background-video {
        display: none;
    }

    header.home-banner div {
        float: none;
        background-size: auto 100%;
        width: auto; height: auto;
    }

    .top-bar {
        padding-right: 0;
    }

    .oro-bar .w3-bar-item{float:left; display:block;}

    .raised-box {
        box-shadow: 6px 6px 0 0 rgb(0 0 0 / .8);
    }

    .raised-box:hover {
        transform: none;
        box-shadow: 6px 6px 0 0 rgb(0 0 0 / .8);
    
    }
    
    iframe {
        box-shadow: 6px 6px 0 0 rgb(0 0 0 / .8);
    }

}


@keyframes fly-up {
    0% { 
        transform: translateY(200%); 		
    }
    100% { 
        transform: translateY(0%); 
    }
}

/*****************************************/
/*              fcf  stuff               */
/*****************************************/



.fcf-form-group {
    margin-bottom: 1rem;
}

.fcf-form-control {
    font-family: "Arial", sans-serif;

    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
    border: 1px solid lightslategray;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
    height: auto;
}

textarea.fcf-form-control {
    height: auto;
}

label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

@media (prefers-reduced-motion: reduce) {
    * {
        transition: none;
    }
}


.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropbtn {
    height: 51px;
    padding: 10px;
}
  
  .dropdown-content {
    display: none;
    position: fixed;
    right: 5%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-bottom: 4px #fede65 solid;
    border-right: 2px #fede65 solid;
    border-left: 2px #fede65 solid;


  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
  }

  .dropdown-content a+a {
    border-top: gray 1px solid;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display:block;
  }

  .dropdown:hover .dropbtn {
    color:#000!important;
    background-color:#fede65!important
  }
